*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    background-color: black;
    height : 100%;
}
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*
-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}


.social-links {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: -15px;
    width: 100%;
    margin: 0 auto;
}
.social-links ul {
    margin-bottom: -15px;
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-links li {
    display: inline-block;
}
.social-links a {
    color: #444;
    font-size: 15px;
    background: #fff;
    width: 35px;
    height: 35px;
    display: block;
    line-height: 37px;
    border-radius: 50%;
    margin: 0 7px;
    padding-top: 1px;
}

.social-links a:hover{
    background-color: #2196F4;
    color: #fff;
}

a {
    transition: 0.4s;
}


@media only screen and (max-width: 767px) {
 

    .social-link li a {
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        width: 35px;
        margin-bottom: 10px;
    }
}
